.botonesInicio{
    position: relative;
    top: -340px;
    left: -630px;
}

.botonesInicio>button{
    margin: 100px 10px;
    margin-left: 20px;
    border-radius: 30px;
    background-color: black;
    background-position: left;
    padding: .8%;
    border: none;
    box-shadow: inset 0 0 0 0 #ff3c78;
    transition: ease-out 0.7s;
    text-decoration: none;
    font-family: 'Poppins',sans-serif;
    color: #a0a0a0;
    font-size: 18px;
    letter-spacing: 0.5px;
    transition: .7s;

}

.botonesInicio>button:hover{
    box-shadow: inset 250px 0 0 0 #ff3c78;
    cursor: pointer;
    color: aliceblue;
    font-size: 22px;
}
