.App {
  position: relative;
  text-align: center;
  width:100% !important;
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,60,120,0.4654236694677871) 100%);
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.soccer{
  position: relative;
  top: 20px;
  left: -150px;
  font-family: 'Poppins',sans-serif;
  font-style: italic;
  font-weight: bold;
  font-size: 100px;

  color: black;
}

.one{
  position: relative;
  top: -162px;
  left: 174px;
  font-family: 'Poppins',sans-serif;
  font-style: italic;
  font-weight: lighter;
  font-size: 100px;
  color: black;
}

.subText{
  position: relative;
  top: -200px;
  font-size: 30px;
  left: -600px;
  font-size: 60px;

}

.subText2{
  position: relative;
  top: -265px;
  font-size: 30px;
  left: -680px;
  font-size: 60px;
}