.App {
  position: relative;
  text-align: right;
  width:100% !important;
  background-image: url("./components/img/castroBackgroun.jpg");
  height: 100vh;
  overflow: hidden;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


#soccer{
  position: relative;
  top: 80px;
  right: 100px;
  font-family: 'Poppins',sans-serif;
  font-style: italic;
  font-weight: bold;
  font-size: 100px;
  color: #a0a0a0;
  -webkit-text-stroke: 2px whitesmoke;
  display: flex;
  justify-content: center;
}

.one{
  position: relative;
  top: -100px;
  left: 220px;
  font-family: 'Poppins',sans-serif;
  font-style: italic;
  font-weight: lighter;
  font-size: 100px;
  color: #a0a0a0;
  -webkit-text-stroke: 2px whitesmoke;
  display: flex;
  justify-content: center;
}

.subText{
  position: relative;
  top: -55px;
  font-size: 30px;
  font-size: 60px;
  display: flex;
  justify-content: center;
  color: blakc;
}

.subText2{
  position: relative;
  top: -110px;
  font-size: 30px;
  font-size: 60px;
  display: flex;
  justify-content: center;
  color: black;
  
}

.links{
  position: relative;
  top: 50px;
  right: 720px;
  display: inline;
  text-align: center;
  width: 150px;
  font-weight: 700;
  padding: 15px 15px;
  border-radius: 25px;
  background-color: black;
  background-position: left;
  box-shadow: inset 0 0 0 0 #B0B2AF;
  text-decoration: none;
  font-family: 'Poppins',sans-serif;
  color: #a0a0a0;
  letter-spacing: 0.5px;
  transition: 1s;
  margin: 10px;
}

.links:hover {

  box-shadow: inset 250px 0 0px 0px #B0B2AF,
  20px 20px 10px rgba(0,0,0,0.8);;
  cursor: pointer;
  color: aliceblue;
  font-size: 20px;
}


.containerApp{
  
  justify-content: center;
}